MongoDB UserName : M_Saad_Qasim
MongoDB Password: TN83bcykLDqr8T9b

Connection String: mongodb+srv://M_Saad_Qasim:<db_password>@cluster0.snwjodp.mongodb.net/products?retryWrites=true&w=majority&appName=Cluster0

node_modules